/*Para Celular*/

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .navitem {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .navitem {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu {
        width: 100%;
    }
    
    .open {
        display: block;
    }
}

/*Configurações Slider*/

.slider {
    margin: 0 auto;
    width: 350px;
    height: 350px;
    overflow: hidden;
}