/*Para Celular*/

@media screen and (max-width: 900px) {
    
/*header*/

.nav-bar {
    padding: 1.5rem;
}

.nav-item {
    display: none;
    padding-bottom: 9px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.057);
}

.mobile-menu-icon {
    display: block;
}

.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
}

.mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
}

.open {
    display: block;
}

/*Configurações Slider*/

.slider {
    margin: 0 auto;
    width: 350px;
    height: 350px;
    overflow: hidden;
}

/*ultimos jogos*/
}

/*Anuncio*/
.anuncio {
    width: 350px;
    height: 100px;
}

.ancdesk {
    display: none;
}

/*noticia*/

.img-noticia-index-1  {
    display: block;
}

.desc-noticia-index-1  {
    display: block;
}