@charset "UTF-8";

@media screen and (min-width: 900px) {

    .slider {
        width: 700px;
    }
    
    .slide {
        width: 700px;
    }

    .slcel {
        display: none;
    }

    .sldesk {
        display: block;
    }
    
    .manual-navigation {
        position: absolute;
        width: 700px;
    }

    #radio1:checked ~ .first {
        margin-left: 0;
    }
    
    #radio2:checked ~ .first {
        margin-left: -200%;
    }
    
    #radio3:checked ~ .first {
        margin-left: -400%;
    }
    
    #radio4:checked ~ .first {
        margin-left: -600%;
    }
    
    .navigation-auto {
        width: 700px;
    }

    /*Ultimos resultdos-sub18*/

    .ultimosjogos {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Outfit';
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 10px;
    }
    
    .jogo1 {
        width: 210px;
        height: 80px;
    }
    .jogo2 {
        width: 210px;
        height: 80px;
    }
    .jogo3 {
        width: 210px;
        height: 80px;
    }
    
    .fase {
        font-size: 1em;
        font-weight: 600;
    }
    
    .partida{
        font-size: 0.9em;
        margin: 2px 0px  2px 0px;
        font-weight: 500;
    }
    
    .dataplay {
        font-size: 0.8em;
    }
    
    
    .escudo-equipe-lastresults-esquerda {
        width: 12px;"
    }
    
    .escudo-equipe-lastresults-direita {
        width: 12px;
    }

    /*Tabela sub18*/

    th, td {
        padding: 20px;
    }

}