@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(135deg, #0000ff85, white);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/*header*/

header {
    background-color: #3498db;
    box-shadow: 0px 3px 10px #464646;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}


.logo {
    display: flex;
    align-items: center;
}

.imglogo {
    width: 20px;
}

.patrociniomaster {
    color: white;
    padding: 10px;
    font-size: 0.5em;
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
} 

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: white;
    font-weight: 400;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

main {
    background-color: white;
    height: auto;
}

/*main*/
.copadosleksub18completa {
background-color: white;
}

.cdlsub18c-header {
text-align: center;
padding-top: 40px;
}

.cdlsub18c-header h1 {
    background-color: #3498db;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    font-size: 1.4em;
    width: 330px;
} 

.cdlsub18c-header h2 {
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: 600;
}

.cdlsub18c-grupos {
    margin: auto;
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.cdlsub18c-grupoa {
    margin-top: 20px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.120);
    margin-bottom: 30px;
} 

.cdlsub18c-grupoa img {
    margin-top: 10px;
} 

.cdlsub18c-grupob img {
    margin-top: 10px;
} 

.cdlsub18c-grupob {
    margin-top: 20px;
    margin-bottom: 30px;
    padding:30px;
    border: 1px solid rgba(0, 0, 0, 0.120);
    border-left: none;
} 

.cdlsub18c-todosjogos {
    background-color: #3498db;
    border-radius: 10px;
    padding: 3px;
    margin: auto;
    width: 200px;
    font-size: 1em;
    text-align: center;
}

.rodada {
    margin-top: 20px;
    text-align: center;
}

.rodada h5 {
    background-color: #464646;
    color: white;
    padding: 10px;
    font-size: 1em;
}

.cdlsub18c-partida {
    margin: auto;
    width: 320px;
    text-align: center;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.120);
}

.cdlsub18c-partida h6{
    font-size: 1em;
}

.cdlsub18c-jogo {
    display: flex;
    justify-content: center;
}

.data-ptd {
    font-size: 0.7em;
}

.destaques-da-partida {
    margin-top: 10px;
    display: flex;
    height: 110px;
    font-size: 0.7em;
}

.destaques-da-partida-gpc {
    margin-top: 10px;
    display: flex;
    height: 125px;
    font-size: 0.7em;
}

.time-mandante {
    width: 160px;
    border-right:  1px solid rgba(0, 0, 0, 0.120);
    text-align: right;
}

.time-mandante p {
    padding-right: 10px;
}

.time-visitante {
    width: 160px;
    text-align: left;
}

.time-visitante p {
    padding-left: 10px;
}

/*Tabela*/

.titulodatabela{
    background-color: #464646;
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 3px;
    margin: 20px 0 20px 0;
}

.tabelafasedegrupos {
    margin: auto;
    padding-bottom: 30px;
}

table {
    border-collapse: collapse;
    background-color: white;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.233);
}

th, td {
    padding: 4.5px;
    font-size: 0.7em;
    text-align: center;
}

.classificado {
    color: green;
}

.eliminado {
    color: red;
}
.div {
    border-top: 1px solid rgba(0, 0, 0, 0.151);
}

.imgt {
    margin-right: 8px;
}

.equipe-tabela-sub18 {
    text-align: left;
}

/*fase final*/

.fasefinal h1 {
    background-color: #464646;
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 3px;
    margin: 20px 0 20px 0;
}

.rodada-ff {
    margin-bottom: 20px;
}

.cdlsub18c-partida-ff1 {
    margin: auto;
    width: 320px;
    text-align: center;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.120);
}


.cdlsub18c-partida-ff1 h6{
    font-size: 1em;
}

.cdlsub18c-partida-ff2 {
    margin: auto;
    width: 319px;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.120);
}


.cdlsub18c-partida-ff2 h6{
    font-size: 1em;
}

/*Artilharia*/

.artilharia {
    margin: 20px autoauto;

}

.artilharia h1 {
    background-color: #464646;
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 3px;
    margin: 20px 0 20px 0;
}

.artilharia table {
    font-size: 1.1em;
}

.zebrado {
    background-color: rgba(128, 128, 128, 0.394);
}

.artilharia th, td {
    padding-top: 7px;
    padding: 10px;
}

/*Goleiro menos vazado*/

.goleiro-mv {
    margin: 20px autoauto;

}

.goleiro-mv h1 {
    background-color: #464646;
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 3px;
    margin: 20px 0 20px 0;
}

.goleiro-mv table {
    font-size: 1.1em;
}

.zebrado {
    background-color: rgba(128, 128, 128, 0.394);
}

.goleiro-mv th, td {
    padding-top: 7px;
    padding: 10px;
}




/*fim do main*/

footer {
    background-color: black;
    color: white;
    padding: 0px;
    text-align: center;
}

.redes-footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-redes h4 {
    padding-top: 20px;
    font-weight: normal;
}

.redes-footer img:nth-last-child(1n){
    margin-left: 10px;
}


.patrocinadores {
    display: flex;
}

.patrotitle {
    padding-bottom: 30px;
}

.patrocinadorn {
    margin: 30px auto;
    border: 1px solid rgba(255, 255, 255, 0.257);
    width: 150px;
    height: 100px;
}

.patrocinador {
    margin: auto;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.257);
    width: 120px;
    height: 100px;
}

.apotitle {
    padding-top: 30px;
    padding-bottom: 30px;
}

.apoiadores {
    display: flex;
}

.apoiadores2 {
    margin-top: 10px;
    display: flex;
}

.apoiador {
    margin: auto;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.257);
    width: 120px;
    height: 100px;
}

.linefooter {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 170px;
    opacity: 20%;
}

.contatoscdl {
    margin-top: 20px;
}

.contatoscdl h4{
    font-weight: normal;
    margin-bottom: 20px;
}

.contatoscdl p{
    font-weight: normal;
    margin-bottom: 10px;
}

.cop {
    padding-bottom: 30px;
    font-size: 0.8em;
    margin: 30px auto 0px auto;
    align-items: end;
}