@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-color: white;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

header {
    background-color: #3498db;
    box-shadow: 0px 3px 10px #464646;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}


.logo {
    display: flex;
    align-items: center;
}

.imglogo {
    width: 20px;
}

.patrociniomaster {
    color: white;
    padding: 10px;
    font-size: 0.5em;
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
} 

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: white;
    font-weight: 400;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/*fim footer*/

main {
    background-color: white;
}

.maiorcampeao {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px auto 0px auto;
    justify-content: space-evenly;
}

.sub19 {
    border:1px solid #464646;
    width: 150px;
}

.sub19 h4 {
    font-size: 0.8em;
    background-color: #3498db;
    color: white;
    border-top:1px solid #464646;
}
.sub19 p {
    font-size: 0.6em;
    background-color: #3498db;
    color: white;
    padding-bottom: 5px;
}

.maiorcampeao h2 {
    font-size: 1em;
    padding: 8px;
}

.maiorcampeao img {
    width: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.adulto {
    border:1px solid #464646;
    width: 150px;
}

.adulto h4 {
    font-size: 0.8em;
    background-color: #3498db;
    color: white;
    border-top:1px solid #464646;
}
.adulto p {
    font-size: 0.6em;
    background-color: #3498db;
    color: white;
    padding-bottom: 5px;
}

.ma-sub19 {
    text-align: center;
    border: 1px solid #464646;
    width: 250px;
    margin: 10px auto ;
}

.ma-sub19 h4 {
    padding: 10px;
}

.ma-sub19 .jogador {
    padding-bottom: 10px;
}

.ma-adulto {
    text-align: center;
    border: 1px solid #464646;
    width: 250px;
    margin: 10px auto ;
}

.ma-adulto h4 {
    padding: 10px;
}

.ma-adulto .jogador {
    padding-bottom: 10px;
}

.equipes {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 10px;
}

.gols {
    border-top: 1px solid #464646;
    padding: 5px;
    background-color: #3498db;
    color: white;
}

.destaque{

}

.maiorgoleada {
    width: ;
}

table {
    border-top: 1px solid #464646;
    border-right: 1px solid #464646;
    border-left: 1px solid #464646;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    width: 300px;
}

table .title {
    background-color: #3498db;
    color: white;
    font-weight: normal;
}

table .timecasa {
    width: 90px;
    font-size: 0.8em;
    text-align: right;
    padding-right: 2px;
}
table .timefora {
    width: 90px;
    font-size: 0.8em;
    text-align: left;
    padding-left: 2px;
}

table .escudo {
    padding: 5px;
}

table .placar {
    padding: 3px;
}

table .destaquescasa {
}

table .div {
    background-image: url(../imagens/gerais/linha.png);
}

.destaques {
    border-right: 1px solid #464646;
    border-left: 1px solid #464646;
    border-bottom: 1px solid #464646;
    text-align: center;
    margin: auto;
    width: 300px;
    display: flex;
}

.destaquecasa {
    border-right: 1px solid #464646;
    width: 150px;
}

.destaquefora {
    width: 150px;
}

.maisgols {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px auto 10px auto;
    justify-content: space-evenly;
}

.sub19 {
    border:1px solid #464646;
    width: 150px;
}

.sub19 h4 {
    font-size: 0.8em;
    background-color: #3498db;
    color: white;
    border-top:1px solid #464646;
}
.sub19 p {
    font-size: 0.6em;
    background-color: #3498db;
    color: white;
    padding-bottom: 5px;
}

.maisgols h2 {
    font-size: 1em;
    padding: 8px;
}

.maisgols img {
    width: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.maisgols .nomedotime {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1em;
}



/*footer*/

footer {
    background-color: black;
    color: white;
    padding: 0px;
    text-align: center;
}

.redes-footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-redes h4 {
    padding-top: 20px;
    font-weight: normal;
}

.redes-footer img:nth-last-child(1n){
    margin-left: 10px;
}


.patrocinadores {
    display: flex;
}

.patrotitle {
    padding-bottom: 30px;
}

.patrocinadorn {
    margin: 30px auto;
    border: 1px solid rgba(255, 255, 255, 0.257);
    width: 150px;
    height: 100px;
}

.patrocinador {
    margin: auto;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.257);
    width: 120px;
    height: 100px;
}

.apotitle {
    padding-top: 30px;
    padding-bottom: 30px;
}

.apoiadores {
    display: flex;
}

.apoiadores2 {
    margin-top: 10px;
    display: flex;
}

.apoiador {
    margin: auto;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.257);
    width: 120px;
    height: 100px;
}

.linefooter {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 170px;
    opacity: 20%;
}

.contatoscdl {
    margin-top: 20px;
}

.contatoscdl h4{
    font-weight: normal;
    margin-bottom: 20px;
}

.contatoscdl p{
    font-weight: normal;
    margin-bottom: 10px;
}

.cop {
    padding-bottom: 30px;
    font-size: 0.8em;
    margin: 30px auto 0px auto;
    align-items: end;
}