@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
    text-decoration: none;
}

header {
    background-color: #3498db;
    box-shadow: 0px 3px 10px #464646;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem;
}


.logo {
    display: flex;
    align-items: center;
}

.imglogo {
    width: 20px;

}

.patrociniomaster {
    color: white;
    padding: 10px;
    font-size: 0.5em;
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
} 

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: white;
    font-weight: 400;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

main {
    background-image: linear-gradient(135deg, #0000ff85, white);
    background-attachment: fixed;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(135deg, #0000ff85, white);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

main {
    background-color: white;
}

/*slider*/

.slider {
    margin: 0 auto;
    width: 350px;
    height: 350px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.412);
}

.slides {
    width: 350px;
    height: 350px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 350px;
    position: relative;
    transition: 1s;
}

.manual-navigation {
    position: absolute;
    width: 350px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.7s;
}

.manual-btn:not(:Last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -100%;
}

#radio3:checked ~ .first {
    margin-left: -200%;
}

#radio4:checked ~ .first {
    margin-left: -300%;
}

#radio5:checked ~ .first {
    margin-left: -400%;
}

.navigation-auto {
    position: absolute;
    width: 350px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:Last-Child) {
    margin-right: 50px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: #fff;
}

/*seção cdl sub 18*/

.cdl-sub18 {
    background-color: white;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-attachment: fixed;
}

.sub18-header {
    background-color: #2980b9;
    border-radius: 10px;
    width: 20px;
    margin: auto;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 0.8em;
    width: 300px;
    padding: 5px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.816);
}

.subtitle {
    font-size: 0.7em;
    text-align: center;
    margin-top: 10px;
}

/*ultimos jogos*/

.ultimosjogos {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Outfit';
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
}

.jogo1 {
    background-color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.233);
    border-left: 1px solid rgba(0, 0, 0, 0.233);
    width: 110px;
    height: 60px;
    text-align: center;
}
.jogo2 {
    background-color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.233);
    width: 110px;
    height: 60px;
    text-align: center;
}
.jogo3 {
    background-color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.233);
    width: 110px;
    height: 60px;
    text-align: center;
}

.fase {
    font-size: 0.8em;
    font-weight: 600;
}

.partida{
    font-size: 0.6em;
    margin: 2px 0px  2px 0px;
    font-weight: 500;
}

.dataplay {
    font-size: 0.6em;
}



/*tabela-sub18*/

table {
    border-collapse: collapse;
    background-color: white;
    margin: auto;
    font-size: 0.7em;
    border: 1px solid rgba(0, 0, 0, 0.233);
}

th, td {
    padding: 5.5px;
    text-align: center;
}

.classificado {
    color: green;
}

.eliminado {
    color: red;
}
.div {
    border-top: 1px solid rgba(0, 0, 0, 0.151);
}

.imgt {
    margin-right: 8px;
}

.equipe-tabela-sub18 {
    text-align: left;
}

.vtc-sub18 {
    background-color: #2980b9;
    font-size: 0.6em;
    width: 365px;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    color: white;
}

.vtc-sub18-a {
    text-decoration: none;
}

/*anuncio*/

.div-anuncio {
    background-color: white;
}

.div-anuncio-2 {
    background-color: white;
    padding-bottom: 20px;
}

.anuncio {
    text-align: center;
    width: 700px;
    margin: auto;
    background-color: blue;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.36)
}


.noticia-index-1 {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

.img-noticia-index-1 {
    background: url(../imagens/noticias/PRIMEIRA\ RODADA\ \(3\).png);
    background-size: 350px;
    background-position: center center;
    width: 350px;
    height: 250px;
    margin: auto;
}

.img-noticia-index-1 h1 {
    color: white;
    text-shadow: 1px 2px 2px black;padding: 180px 10px;
}

.desc-noticia-index-1 {
    background: url(../imagens/noticias/fundo-de-papel-antigo-estilo-grunge-com-vincos-e-manchas.jpg);
    width: 350px;
    height: 250px;
    margin: auto;
}

.desc-noticia-index-1 h1 {
    text-align: center;
    padding: 10px 50px;
    font-size: 1.2em;
}

.desc-noticia-index-1 p {
    text-indent: 10px;
    text-align: justify;
    padding: 15px ;
    font-size: 1em;
}

.cdl-adulto {
    border-top: 1px solid rgba(0, 0, 0, 0.078);
    background-color: white;
    width: 100%;
    padding: 20px 10px;
    background-attachment: fixed;
}

.noticia-index-2 {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

.img-noticia-index-2 {
    background: url(../imagens/noticias/PRIMEIRA\ RODADA\ \(6\).png);
    background-size: 350px;
    background-position: center center;
    width: 350px;
    height: 250px;
    margin: auto;
    font-size: 0.9em;
}

.img-noticia-index-2 h1 {
    color: white;
    text-shadow: 1px 2px 2px black;padding: 180px 10px;
}

.desc-noticia-index-2 {
    background: url(../imagens/noticias/fundo-de-papel-antigo-estilo-grunge-com-vincos-e-manchas.jpg);
    width: 350px;
    height: 250px;
    margin: auto;
}

.desc-noticia-index-2 h1 {
    text-align: center;
    padding: 10px 50px;
    font-size: 1.2em;
}

.desc-noticia-index-2 p {
    text-indent: 10px;
    text-align: justify;
    padding: 15px 15px 0 15px;
    font-size: 1em;
}

p.data-noticia {
    padding: 0 10px ;
    font-size: 0.8em;
    text-align: right;
}

.cdl-feminino {
    border-top: 1px solid rgba(0, 0, 0, 0.078);
    background-color: white;
    width: 100%;
    padding: 20px 10px;
    background-attachment: fixed;
}

.primeiraparte-feminino {
    display: none;
}

.noticia-index-3 {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

.img-noticia-index-3 {
    background: url(../imagens/backgrounds/1.png);
    background-size: 350px;
    background-position: center center;
    width: 350px;
    height: 250px;
    margin: auto;
    font-size: 0.9em;
}

.img-noticia-index-3 h1 {
    color: white;
    text-shadow: 1px 2px 2px black;padding: 180px 10px;
}

.desc-noticia-index-3 {
    background: url(../imagens/noticias/fundo-de-papel-antigo-estilo-grunge-com-vincos-e-manchas.jpg);
    width: 350px;
    height: 250px;
    margin: auto;
}

.desc-noticia-index-3 h1 {
    text-align: center;
    padding: 10px 50px;
    font-size: 1.2em;
}

.desc-noticia-index-3 p {
    text-indent: 10px;
    text-align: justify;
    padding: 15px 15px 0 15px;
    font-size: 1em;
}

/*footer*/

footer {
    background-color: black;
    color: white;
    padding: 0px;
    text-align: center;
}

.redes-footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-redes h4 {
    padding-top: 20px;
    font-weight: normal;
}

.redes-footer img:nth-last-child(1n){
    margin-left: 10px;
}


.patrocinadores {
    display: flex;
}

.patrotitle {
    padding-bottom: 30px;
}

.patrocinadorn {
    margin: 30px auto;
    
    border: 1px solid rgba(255, 255, 255, 0.257);
    width: 150px;
    height: 100px;
}

.patrocinadorn img {
    width: 150px;
}

.patrocinador {
    margin: auto;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.257);
    width: 120px;
    height: 100px;
}

.apotitle {
    padding-top: 30px;
    padding-bottom: 30px;
}

.apoiadores {
    display: flex;
}

.apoiadores2 {
    margin-top: 10px;
    display: flex;
}

.apoiador {
    margin: auto;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.257);
    width: 120px;
    height: 100px;
}

.linefooter {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 170px;
    opacity: 20%;
}

.contatoscdl {
    margin-top: 20px;
}

.contatoscdl h4{
    font-weight: normal;
    margin-bottom: 20px;
}

.contatoscdl p{
    font-weight: normal;
    margin-bottom: 10px;
}

.cop {
    padding-bottom: 30px;
    font-size: 0.8em;
    margin: 30px auto 0px auto;
    align-items: end;
}



















































