@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Outfit:wght@100;200;300;400;500;600;700;800;900 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

header {
    background-color: #3498db;
    box-shadow: 0px 3px 10px #464646;
}

main {
    background-image: linear-gradient(135deg, #0000ff85, white);
    background-attachment: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.imglogo {
    width: 20px;
}

.patrociniomaster {
    color: white;
    padding: 10px;
    font-size: 0.5em;
    display: flex;
    align-items: center;
}

.logo h1 {
    color: white;
}

.navlist {
    display: flex;
    align-items: center;
}

.navlist ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navitem {
    margin: 0px 15px;
}

.navlink {
    text-decoration: none;
    font-size: 1em;
    color: white;
    font-weight: 400;
}

main {
    background-color: white;
    height: 100vh;
}

footer {
    background-color: black;
    color: white;
}

.mobile-menu-icon {
    display: none;
    align-items: center;
}

.mobile-menu {
    display: none;
}


/*slider*/

.slider {
    margin: 0 auto;
    width: 350px;
    height: 350px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.412);
}

.slides {
    width: 350px;
    height: 350px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 350px;
    position: relative;
    transition: 1s;
}

.manual-navigation {
    position: absolute;
    width: 350px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.7s;
}

.manual-btn:not(:Last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -100%;
}

#radio3:checked ~ .first {
    margin-left: -200%;
}

#radio4:checked ~ .first {
    margin-left: -300%;
}

.navigation-auto {
    position: absolute;
    width: 350px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:Last-Child) {
    margin-right: 50px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}

/*seção cdl sub 18*/

.cdl-sub18 {
    background-color: white;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-attachment: fixed;
}

.sub18-header {
    background-color: #2980b9;
    border-radius: 10px;
    width: 20px;
    margin: auto;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 0.8em;
    width: 300px;
    padding: 5px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.816);
}

.subtitle {
    font-size: 0.7em;
    text-align: center;
    margin-top: 10px;
}

/*ultimos jogos*/

.ultimosjogos {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Outfit';
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
}

.jogo1 {
    background-color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.233);
    border-left: 1px solid rgba(0, 0, 0, 0.233);
    width: 110px;
    height: 70px;
    text-align: center;
}
.jogo2 {
    background-color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.233);
    width: 110px;
    height: 70px;
    text-align: center;
}
.jogo3 {
    background-color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.233);
    width: 110px;
    height: 70px;
    text-align: center;
}

.fase{
    font-size: 0.8em;
    font-weight: 500;
}

.partida{
    font-size: 0.6em;
    margin: 6px 0px  7px 0px;
    font-weight: bold;
}

.dataplay {
    font-size: 0.6em;
}


.escudo-equipe-lastresults-esquerda {
    width: 12px;"
}

.escudo-equipe-lastresults-direita {
    width: 12px;
}




















































